.filters {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}
.btn {
  margin: 1rem;
}
.price {
  background-color: rgb(184, 255, 180);
}
.refresh {
  background-color:rgb(104, 214, 96);
}
.ingredients {
  margin: 1rem 0 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.active{
  background-color: lightsalmon;
}
.found{
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;

}
.p-6 > * {
  transition: all 2s ease;
}